{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de Software</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <style>
        .button-div:hover {
            transform: scale(1.1);
        }
        .button-text {
            color: white;
            font-weight: bold;
            font-size: 1.2em;
        }
        .wide-modal .modal-dialog {
            max-width: 800px; 
            margin: 1.75rem auto; 
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Inicio</strong></a>
            <a href="{% url 'contacto' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Contacto</strong></a>
        </div>        
    </header>

    <!-- Barra de navegación en el aside -->
    <aside>
        <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #8a2626, #300707); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); height: 50px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-5">
                    <a class="nav-link" href="pronostico_mp10.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Pronóstico MP10</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="estaciones.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Estaciones</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="datos_historicos.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Datos Históricos</a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- Contenido principal -->
    <main class="d-flex flex-grow-2 border flex-column flex-md-row">
        <aside class="border col-12 col-md-3 p-1 rounded shadow-sm">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-center mb-0" style="color: #651616; font-weight: bold; font-size: 1.2em;">Escala de Impacto</h4>
                <i class="fas fa-question-circle" data-toggle="modal" data-target="#infoModal" style="cursor: pointer; margin-left: 10px; color: #651616"></i>
            </div>
            <img src="{% static 'home/Escala.png' %}" alt="Logo" width="auto" height="400px">
        </aside>
        
        <section class="border col-12 col-md-9" style="min-height: 450px;">
            <div id="map" style="height: 450px;"></div>
        </section>
    </main>

    <div class="container" style="padding: 10px 50px;">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="proyecto.html" class="card-img-top" style="text-decoration: none; background: url({% static 'home/Boton1.png' %}) no-repeat center center; background-size: cover; height: 120px; border-radius: 8px; transition: transform 0.2s;"></a>
                    <div class="card-body">
                        <h5 class="card-title" style="color: maroon;">PROPÓSITO DEL PROYECTO</h5>
                        <p class="card-text">Este proyecto se enfoca en predecir los niveles de MP10 y proporcionar una escala de impacto en los cultivos para ayudar a los agricultores a proteger sus cosechas. <a href="proyecto.html">Ver más...</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="mp10.html" class="card-img-top" style="text-decoration: none; background: url({% static 'home/Boton2.png' %}) no-repeat center center; background-size: cover; height: 120px; border-radius: 8px; transition: transform 0.2s;"></a>
                    <div class="card-body">
                        <h5 class="card-title" style="color: maroon;">MP10 EN EL AIRE</h5>
                        <p class="card-text">La presencia del MP10 en el aire puede tener un impacto significativo en el sector agrícola, afectando negativamente la salud de los cultivos. <a href="mp10.html">Ver más...</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="quienesomos.html" class="card-img-top" style="text-decoration: none; background: url({% static 'home/Boton3.png' %}) no-repeat center center; background-size: cover; height: 120px; border-radius: 8px; transition: transform 0.2s;"></a>
                    <div class="card-body">
                        <h5 class="card-title" style="color: maroon;">CONÓCENOS</h5>
                        <p class="card-text">Somos un equipo de estudiantes dedicados a proporcionar información sobre los niveles de MP10 y su impacto en los cultivos, comprometidos con la precisión, responsabilidad ambiental y agrícola. <a href="quienesomos.html">Ver más...</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Modal -->
    <div class="modal fade wide-modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Escala del 1 al 10 basada en los niveles de MP10 y sus efectos en las cosechas:
                    </p>
                    <ul>
                        <li><strong>1. Muy bajo:</strong> Niveles extremadamente bajos de MP10, sin impacto significativo en las cosechas.</li>
                        <li><strong>2. Bajo:</strong> Niveles bajos de MP10, impacto mínimo en las cosechas, seguro para la mayoría de los cultivos.</li>
                        <li><strong>3. Moderadamente bajo:</strong> Niveles moderadamente bajos de MP10, impacto leve en las cosechas, afectando ligeramente su calidad o rendimiento.</li>
                        <li><strong>4. Moderado:</strong> Niveles moderados de MP10, puede haber efectos adversos en las cosechas sensibles o en áreas con exposición prolongada.</li>
                        <li><strong>5. Moderadamente alto:</strong> Niveles moderadamente altos de MP10, efectos adversos en las cosechas sensibles.</li>
                        <li><strong>6. Alto:</strong> Niveles altos de MP10, efectos adversos en la mayoría de las cosechas, con pérdidas significativas.</li>
                        <li><strong>7. Muy alto:</strong> Niveles muy altos de MP10, impacto grave en la mayoría de las cosechas, con pérdidas severas.</li>
                        <li><strong>8. Extremadamente alto:</strong> Niveles extremadamente altos de MP10, impacto severo en todas las cosechas, con pérdidas catastróficas.</li>
                        <li><strong>9. Peligroso:</strong> Niveles peligrosos de MP10, condiciones extremadamente dañinas para las cosechas, con pérdidas totales.</li>
                        <li><strong>10. Catastrófico:</strong> Niveles catastróficos de MP10, condiciones devastadoras para las cosechas, con daños irreversibles.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Función para leer el archivo CSV y mostrar los marcadores en el mapa
        function leerCSV() {
            fetch("{% static 'csv_files/coordenadas.csv' %}")
                .then(response => response.text())
                .then(data => {
                    const map = L.map('map').setView([-30.9, -71], 8); // Coordenadas del centro del mapa y nivel de zoom                

                    // Creamos una capa de Mapbox Streets
                    var streetsLayer = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        maxZoom: 18,
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'pk.eyJ1IjoiZGFuaWtraSIsImEiOiJjbHdwczh0YjQxcGMwMnFwZ3B4dDBhOGlyIn0.f80sAhtZxhn0smqBNLZC0w'
                    });

                    // Agregamos ambas capas al mapa
                    streetsLayer.addTo(map);

                    // Dividir el CSV en líneas
                    const lines = data.split('\n');
                    
                    // Iterar sobre cada línea del CSV
                    lines.forEach(line => {
                        const [nombre, latitud, longitud] = line.split(',');
                        
                        // Convertir latitud y longitud a números
                        const lat = parseFloat(latitud);
                        const lng = parseFloat(longitud);
                        
                        // Crear marcador y añadirlo al mapa
                        L.marker([lat, lng]).addTo(map).bindPopup(nombre);
                    });
                });
        }

        // Llamar a la función para leer el CSV cuando se cargue la página
        window.onload = leerCSV;
    </script>

    <!-- Pie de página -->
    <footer class="mt-auto py-3" style="background-color: #8a2626; color: #fff; text-align: center;">
        <div class="container">
            <p class="mb-0">&copy; 2024 Proyecto de Software</p>
        </div>
    </footer>
    
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

