<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Proyecto de Software</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3"><strong>INICIO</strong></a>
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="Buscar...">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>        
    </header>

    <!-- Barra de navegación en el aside -->
    <aside>
        <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #28a745, #007bff); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); height: 50px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-5">
                    <a class="nav-link" href="pronostico_mp10.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Pronóstico MP10</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="estaciones.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Estaciones</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="datos_historicos.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Datos Históricos</a>
                </li>
            </ul>
        </nav>
    </aside>


    <!-- Contenido principal -->
    <main class="d-flex flex-grow-1 border flex-column flex-md-row">
        <aside class="border col-12 col-md-3" style="min-height: 300px; background-color: #f8f9fa; padding: 10px;">
            <h4 class="text-center" style="color: #681f1f; margin-bottom: 10px; font-weight: bold; font-size: 1.2em;">MP10 DE HOY</h4>
            <div class="location" style="margin-bottom: 5px;">
                <h5 class="text-center" style="margin-bottom: 3px; font-weight: bold; font-size: 1em;">Andacollo</h5>
                <div class="mp10-box text-center" style="border: 1px solid #ccc; border-radius: 5px; padding: 3px; margin: 3px 0; background-color: #ffffff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); font-size: 1.1em; font-weight: bold;">24</div>
            </div>
            <div class="location" style="margin-bottom: 5px;">
                <h5 class="text-center" style="margin-bottom: 3px; font-weight: bold; font-size: 1em;">Los Vilos</h5>
                <div class="mp10-box text-center" style="border: 1px solid #ccc; border-radius: 5px; padding: 3px; margin: 3px 0; background-color: #ffffff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); font-size: 1.1em; font-weight: bold;">30</div>
            </div>
            <div class="location" style="margin-bottom: 5px;">
                <h5 class="text-center" style="margin-bottom: 3px; font-weight: bold; font-size: 1em;">Salamanca</h5>
                <div class="mp10-box text-center" style="border: 1px solid #ccc; border-radius: 5px; padding: 3px; margin: 3px 0; background-color: #ffffff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); font-size: 1.1em; font-weight: bold;">18</div>
            </div>
        </aside>
    
        <section class="border col-12 col-md-9" style="min-height: 300px;">
            <div style="width: 100%; height: 400px; margin-top: 5px;">
                <iframe 
                    width="100%" 
                    height="100%" 
                    frameborder="0" 
                    style="border:0" 
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d110307.87893118885!2d-71.13390232239!3d-30.233619605069332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scl!4v1715888564434!5m2!1ses-419!2scl" 
                    allowfullscreen="" 
                    aria-hidden="false" 
                    tabindex="0">
                </iframe>
            </div>
        </section>  
    </main>    

    <section class="d-flex justify-content-center section-buttons flex-wrap" style="padding: 20px; background-color: #f8f9fa;">

        <a href="#" class="button-div border m-3 d-flex justify-content-center align-items-center" style="text-decoration: none; width: 200px; height: 200px; border-radius: 8px; transition: transform 0.2s; background: url({% static 'home/Boton1.png' %}) no-repeat center center; background-size: cover;">
        <div style="width: 100%; height: 100%; text-align: center; display: flex; justify-content: center; align-items: center;">
        </div>
    </a>
    <a href="#" class="button-div border m-3 d-flex justify-content-center align-items-center" style="text-decoration: none; width: 200px; height: 200px; border-radius: 8px; transition: transform 0.2s; background: url({% static 'home/Boton2.png' %}) no-repeat center center; background-size: cover;">
        <div style="width: 100%; height: 100%; text-align: center; display: flex; justify-content: center; align-items: center;">
        </div>
    </a>
    <a href="#" class="button-div border m-3 d-flex justify-content-center align-items-center" style="text-decoration: none; width: 200px; height: 200px; border-radius: 8px; transition: transform 0.2s; background: url({% static 'home/Boton3.png' %}) no-repeat center center; background-size: cover;">
        <div style="width: 100%; height: 100%; text-align: center; display: flex; justify-content: center; align-items: center;">
        </div>
    </a>
</section>
    
    <script>
        // Add a hover effect to scale the buttons slightly
        document.querySelectorAll('.button-div').forEach(button => {
            button.addEventListener('mouseenter', () => {
                button.style.transform = 'scale(1.05)';
            });
            button.addEventListener('mouseleave', () => {
                button.style.transform = 'scale(1)';
            });
        });
    </script> 
    

    <!-- Pie de página -->
    <footer class="border text-center py-3 mt-auto">
        <nav>
            <ul class="nav justify-content-between" style="padding: 0 40px;">
                <li class="nav-item">
                    <a class="" href="#contacto" rel="noopener">Contacto</a>
                </li>
                <li class="nav-item">
                    <p class="m-0"> 2024</p>
                </li>
            </ul>
        </nav>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
