<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .datos-historicos {
            background-color: #fff; 
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Proyecto de Software</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Inicio</strong></a>
            <a href="{% url 'contacto' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Contacto</strong></a>
        </div>        
    </header>

    <!-- Barra de navegación en el aside -->
    <aside>
        <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #8a2626, #300707); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); height: 50px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-5">
                    <a class="nav-link" href="pronostico_mp10.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Pronóstico MP10</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="estaciones.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Estaciones</a>
                </li>
                <li class="nav mx-5">
                    <a class="nav-link datos-historicos" href="datos_historicos.html" style="color: #000; padding: 5px; font-size: 18px; font-weight: bold;">Datos Históricos</a>
                </li>
            </ul>
        </nav>
    </aside>
    
    <!-- Contenido principal -->
    <main class="container mt-5">
        <div class="card col-md-8 shadow mx-auto"> <!-- Añadida clase mx-auto -->
            <div class="card-header gradient-background d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Seleccionar Comuna y Estación</h3>
                <i class="fas fa-question-circle" data-toggle="modal" data-target="#infoModal" style="cursor: pointer;"></i>
            </div>
            <div class="card-body">
                <form id="selectionForm">
                    <div class="form-group">
                        <label for="sector">Comuna:</label>
                        <select class="form-control" id="sector">
                            <option value="" disabled selected>Selecciona una Comuna</option>
                            <option value="Andacollo">Andacollo</option>
                            <option value="LosVilos">Los Vilos</option>
                            <option value="Salamanca">Salamanca</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estacion">Estación:</label>
                        <select class="form-control" id="estacionSelect">
                            <option value="" disabled selected>Selecciona una estación</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Fecha de Inicio (opcional):</label>
                        <input type="date" class="form-control" id="startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">Fecha de Fin (opcional):</label>
                        <input type="date" class="form-control" id="endDate">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    
                    <div class="form-group">
                        <div id="showChartsBtnContainer" class="text-right mb-3" style="display: none;">
                            <button type="button" class="btn btn-primary" id="showChartsBtn">Mostrar Gráficos</button>
                        </div>
                    </div>
                    <!-- Contenedor para el botón de descarga -->
                    <div class="form-group">
                        <div id="downloadBtnContainer" class="text-right mb-3" style="display: none;">
                            <a href="#" class="btn btn-primary" id="downloadCsv" download>Descargar CSV</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-4 col-md-8 d-none shadow mx-auto" id="csvCard"> <!-- Añadida clase mx-auto -->
            <div class="card-header gradient-background">
                <h3 class="mb-0">Datos del CSV</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="csvTable">
                    <thead>
                        <tr id="csvHeader"></tr>
                    </thead>
                    <tbody id="csvBody"></tbody>
                </table>
            </div>
            <!-- Ventana flotante -->
            <div class="modal fade" id="graphModal" tabindex="-1" role="dialog" aria-labelledby="graphModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="graphModalLabel">Gráficos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Gráfico de línea -->
                            <div style="border-bottom: 1px solid #ddd; margin-bottom: 20px;">
                                <canvas id="myLineChart"></canvas>
                        </div>                        
                    </div>
                </div>
            </div>
            

        </div>
    </main>
    
    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Los datos expuestos van desde enero del 2018 hasta diciembre del 2022, estos han sido obtenidos a traves de entidades confiables llamadas INIA, CEAZA y SINCA. 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        const estaciones = {
            Andacollo: ["Andacollo", "Chepiquilla", "ElSauce", "Hospital", "Urmenetra"],
            LosVilos: ["Caimanes", "Chacay", "ElMauro", "PuntaChungo"],
            Salamanca: ["Camisas", "Coiron", "Cuncumen", "HotelMina", "QuelenAlto"]
        };
    
        document.getElementById('sector').addEventListener('change', function() {
            const sector = this.value;
            const estacionSelect = document.getElementById('estacionSelect');
            estacionSelect.innerHTML = '<option value="" disabled selected>Selecciona una estación</option>';

            if (estaciones[sector]) {
                estaciones[sector].forEach(estacion => {
                    const option = document.createElement('option');
                    option.value = estacion;
                    option.textContent = estacion;
                    estacionSelect.appendChild(option);
                });
            }
        });

        document.getElementById('selectionForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el envío del formulario y la recarga de la página
        
            // Obtiene los valores seleccionados
            const sector = document.getElementById('sector').value;
            const estacion = document.getElementById('estacionSelect').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;

            // Lógica para cargar el archivo CSV correspondiente
            const csvFileName = `/static/csv_files/historicos/${sector}_${estacion}.csv`; // Ajusta la ruta aquí si es necesario
            fetch(csvFileName)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al cargar el archivo CSV');
                    }
                    return response.text();
                })
                .then(data => {
                    // Muestra la tarjeta de CSV y procesa los datos
                    document.getElementById('csvCard').classList.remove('d-none');
                    document.getElementById('csvCard').scrollIntoView({ behavior: 'smooth' });
                    processCSVData(data, startDate, endDate);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        function processCSVData(data, startDate, endDate) {
            let rows = data.trim().split('\n').map(row => row.split(','));
        
            // Filtrar por fechas si se proporcionan fechas de inicio y fin
            if (startDate && endDate) {
                rows = filterByDate(rows, startDate, endDate);
            }
        
            displayCSV(rows);
        
            // Mostrar los botones de descarga y gráficos si hay datos para mostrar
            if (rows.length > 1) {
                document.getElementById('downloadBtnContainer').style.display = 'block';
                document.getElementById('showChartsBtnContainer').style.display = 'block';
                updateDownloadLink(rows, startDate, endDate);
            } else {
                document.getElementById('downloadBtnContainer').style.display = 'none';
                document.getElementById('showChartsBtnContainer').style.display = 'none';
            }
        }
        
        document.getElementById('showChartsBtn').addEventListener('click', function() {
            console.log("evento");
            // Obtener los datos del CSV actualmente cargado
            const csvTable = document.getElementById('csvTable');
            const headers = Array.from(csvTable.querySelectorAll('thead th')).map(th => th.textContent.trim());
            const dataRows = Array.from(csvTable.querySelectorAll('tbody tr')).map(tr => Array.from(tr.querySelectorAll('td')).map(td => td.textContent.trim()));
            
            // Encontrar el índice de la columna 'Tiempo UTC-4' y 'Registros validados'
            const timeIndex = headers.indexOf('Tiempo UTC-4');
            const dataIndex = headers.indexOf('Registros validados');
            
            // Preparar datos para el gráfico
            let labels = dataRows.map(row => row[timeIndex]);
            let data = dataRows.map(row => parseFloat(row[dataIndex]));
            
            // Obtener fechas de inicio y fin seleccionadas
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            
            // Filtrar datos por fecha
            if (startDate && endDate) {
                const startDateObj = new Date(startDate);
                const endDateObj = new Date(endDate);
                labels = labels.filter((label, index) => {
                    const date = new Date(label);
                    return date >= startDateObj && date <= endDateObj;
                });
                data = data.filter((datum, index) => {
                    const date = new Date(labels[index]);
                    return date >= startDateObj && date <= endDateObj;
                });
            }
        
            // Verificar si el gráfico de línea existe y destruirlo si es necesario
            if (window.myLineChart && window.myLineChart instanceof Chart) {
                window.myLineChart.destroy();
            }

            // Verificar si el gráfico de barras existe y destruirlo si es necesario
            if (window.myBarChart && window.myBarChart instanceof Chart) {
                window.myBarChart.destroy();
            }
        
            // Crear el nuevo gráfico de línea
            const ctxLine = document.getElementById('myLineChart').getContext('2d');
            window.myLineChart = new Chart(ctxLine, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'MP10',
                        data: data,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            // Mostrar la ventana flotante
            $('#graphModal').modal('show');
        });
        
        
        function updateDownloadLink(rows, startDate, endDate) {
            // Obtén los valores de sector y estación
            const sector = document.getElementById('sector').value;
            const estacion = document.getElementById('estacionSelect').value;
        
            // Actualiza el enlace de descarga con los datos del CSV
            const csvContent = rows.map(row => row.join(',')).join('\n');
            const blob = new Blob([csvContent], { type: 'text/csv' });
            const url = URL.createObjectURL(blob);
        
            const downloadLink = document.getElementById('downloadCsv');
            downloadLink.href = url;
            downloadLink.download = `${sector}_${estacion}_${startDate || 'inicio'}_to_${endDate || 'fin'}.csv`;
        }

        function filterByDate(rows, startDate, endDate) {
            const header = rows[0];
            const dateIndex = header.indexOf('Tiempo UTC-4'); // Asegúrate de que la columna de fecha se llama "Tiempo UTC-4"
            const filteredRows = rows.filter((row, index) => {
                if (index === 0) return true; // Mantener el encabezado
                const rowDate = parseDate(row[dateIndex]);
                return rowDate >= new Date(startDate) && rowDate <= new Date(endDate);
            });
            return filteredRows;
        }

        function parseDate(dateString) {
            const [day, month, year] = dateString.split('-');
            return new Date(`${year}-${month}-${day}`);
        }

        function displayCSV(rows) {
            const csvHeader = document.getElementById('csvHeader');
            const csvBody = document.getElementById('csvBody');
            csvHeader.innerHTML = '';
            csvBody.innerHTML = '';
        
            // Agrega los encabezados de las columnas
            const headers = rows[0];
            headers.forEach(header => {
                const th = document.createElement('th');
                th.textContent = header;
                csvHeader.appendChild(th);
            });
        
            // Agrega las filas de datos
            for (let i = 1; i < rows.length; i++) {
                const row = rows[i];
                const tr = document.createElement('tr');
                row.forEach(cell => {
                    const td = document.createElement('td');
                    td.textContent = cell;
                    tr.appendChild(td);
                });
                csvBody.appendChild(tr);
            }
        }
    </script>

    <!-- Pie de página -->
    <footer class="mt-auto py-3" style="background-color: #8a2626; color: #fff; text-align: center;">
        <div class="container">
            <p class="mb-0">&copy; 2024 Proyecto de Software</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
