<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .datos-historicos {
            background-color: #fff; 
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Proyecto de Software</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Inicio</strong></a>
            <a href="{% url 'contacto' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Contacto</strong></a>
            <div class="input-group" style="margin-right: 20px;">
                <input type="text" class="form-control form-control-lg" placeholder="Buscar...">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>        
    </header>

    <!-- Barra de navegación en el aside -->
    <aside>
        <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #8a2626, #300707); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); height: 50px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-5">
                    <a class="nav-link" href="pronostico_mp10.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Pronóstico MP10</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="estaciones.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Estaciones</a>
                </li>
                <li class="nav mx-5">
                    <a class="nav-link datos-historicos" href="datos_historicos.html" style="color: #000; padding: 5px; font-size: 18px; font-weight: bold;">Datos Históricos</a>
                </li>
            </ul>
        </nav>
    </aside>
    
    <!-- Contenido principal -->
    <main class="container mt-5">
        <div class="card col-md-8 shadow mx-auto"> <!-- Añadida clase mx-auto -->
            <div class="card-header gradient-background">
                <h3 class="mb-0">Seleccionar Comuna y Estación</h3>
            </div>
            <div class="card-body">
                <form id="selectionForm">
                    <div class="form-group">
                        <label for="sector">Comuna:</label>
                        <select class="form-control" id="sector">
                            <option value="" disabled selected>Selecciona una Comuna</option>
                            <option value="Andacollo">Andacollo</option>
                            <option value="LosVilos">Los Vilos</option>
                            <option value="Salamanca">Salamanca</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estacion">Estación:</label>
                        <select class="form-control" id="estacionSelect">
                            <option value="" disabled selected>Selecciona una estación</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    <!-- Contenedor para el botón de descarga -->
                    <div class="form-group">
                        <div id="downloadBtnContainer" class="text-right mb-3" style="display: none;">
                            <a href="#" class="btn btn-primary" id="downloadCsv" download>Descargar CSV</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-4 col-md-8 d-none shadow mx-auto" id="csvCard"> <!-- Añadida clase mx-auto -->
            <div class="card-header gradient-background">
                <h3 class="mb-0">Datos del CSV</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="csvTable">
                    <thead>
                        <tr id="csvHeader"></tr>
                    </thead>
                    <tbody id="csvBody"></tbody>
                </table>
            </div>
        </div>
    </main>
    
    <script>
        const estaciones = {
            Andacollo: ["Andacollo", "Chepiquilla", "ElSauce", "Hospital", "Urmenetra"],
            LosVilos: ["Caimanes", "Chacay", "ElMauro", "PuntoChungo"],
            Salamanca: ["Camisas", "Coiron", "Cuncumen", "HotelMina", "QuelenAlto"]
        };
    
        document.getElementById('sector').addEventListener('change', function() {
            const sector = this.value;
            const estacionSelect = document.getElementById('estacionSelect');
            estacionSelect.innerHTML = '<option value="" disabled selected>Selecciona una estación</option>';

            if (estaciones[sector]) {
                estaciones[sector].forEach(estacion => {
                    const option = document.createElement('option');
                    option.value = estacion;
                    option.textContent = estacion;
                    estacionSelect.appendChild(option);
                });
            }
        });

        document.getElementById('selectionForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el envío del formulario y la recarga de la página
        
            // Obtiene los valores seleccionados
            const sector = document.getElementById('sector').value;
            const estacion = document.getElementById('estacionSelect').value;
        
            // Lógica para cargar el archivo CSV correspondiente
            const csvFileName = `/static/csv_files/historicos/${sector}_${estacion}.csv`; // Ajusta la ruta aquí si es necesario
            fetch(csvFileName)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al cargar el archivo CSV');
                    }
                    return response.text();
                })
                .then(data => {
                    // Muestra la tarjeta de CSV y procesa los datos
                    document.getElementById('csvCard').classList.remove('d-none');
                    document.getElementById('downloadBtnContainer').style.display = 'block';
                    mostrarCsvCard(data, sector, estacion); // Pasar el nombre del sector y de la estación
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });        

        function mostrarCsvCard(csvContent, sector, estacion) {
            document.getElementById('csvCard').classList.remove('d-none');
            document.getElementById('downloadBtnContainer').style.display = 'block';
        
            // Generar el contenido CSV
            var rows = csvContent.split('\n').map(row => row.split(','));
            displayCSV(rows);
        
            // Crear un objeto Blob
            var blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8' });
        
            // Crear un objeto URL
            var url = URL.createObjectURL(blob);
        
            // Configurar el enlace de descarga
            var downloadLink = document.getElementById('downloadCsv');
            downloadLink.href = url;
            // Cambiar el nombre del archivo para incluir el nombre del sector y la estación
            downloadLink.download = `${sector}_${estacion}.csv`;
        }
         

        function displayCSV(data) {
            console.log(data);

            const header = data[0];
            const body = data.slice(1);

            // Llenar la cabecera de la tabla
            const csvHeader = document.getElementById('csvHeader');
            csvHeader.innerHTML = '';
            header.forEach(cell => {
                const th = document.createElement('th');
                th.textContent = cell;
                csvHeader.appendChild(th);
            });

            // Llenar el cuerpo de la tabla
            const csvBody = document.getElementById('csvBody');
            csvBody.innerHTML = '';
            body.forEach(row => {
                const tr = document.createElement('tr');
                row.forEach(cell => {
                    const td = document.createElement('td');
                    td.textContent = cell;
                    tr.appendChild(td);
                });
                csvBody.appendChild(tr);
            });
        }
    </script>
    
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
