<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Proyecto de Software</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Inicio</strong></a>
            <a href="{% url 'contacto' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Contacto</strong></a>
            <div class="input-group" style="margin-right: 20px;">
                <input type="text" class="form-control form-control-lg" placeholder="Buscar...">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>        
    </header>

    <!-- Contenido -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>Impacto del MP10 en el sector agrícola</h2>
                <p>
                    La contaminación del aire afecta a varios sectores a través de una variedad de contaminantes, como el Material Particulado 10 (MP10), que ha existido desde siempre y está asociado a eventos naturales como erupciones volcánicas, incendios forestales y tormentas de polvo. Pero, ¿qué es exactamente el material particulado?
                </p>
                <p>
                    El material particulado es una mezcla de partículas líquidas y sólidas en suspensión en el aire. Se clasifica según el tamaño de las partículas; en el caso del MP10, son partículas con un diámetro de 10 µm (micrones de metro, es decir, la millonésima parte del metro). Estas partículas pueden originarse por eventos naturales o por la actividad humana, como el levantamiento de polvo en las minas. En nuestro país, el problema de emisión de partículas asociadas a este contaminante se menciona en relatos desde la época colonial, relacionado con fogatas, quemas, incendios y polvo en suspensión.
                </p>
                <p>
                    Uno de los sectores afectados por las partículas ligadas al MP10 es el sector agrícola. Para lograr una buena cosecha, los cultivos necesitan cuidados que van desde el tratamiento del suelo y la plantación hasta el cuidado y la cosecha de los cultivos. Sin embargo, un importante número de cosechas puede ser perjudicado debido a este contaminante, generando un impacto negativo para el sector agrícola y sus productores.
                </p>
                <p>
                    Es importante destacar que esta problemática no es ampliamente conocida y, en muchos casos, los propios agricultores desconocen cómo o cuánto afectará el MP10 a sus cultivos. Esta falta de información impide que puedan desarrollar estrategias preventivas.
                </p>
            </div>
        </div>
    </div>

    <!-- Pie de página -->
    <footer class="border text-center py-1 mt-auto">
        <nav>
            <ul class="nav justify-content-between" style="padding: 0 20px;">
                <li class="nav-item">
                    <p class="" >Proyecto de Software</p>
                </li>
                <li class="nav-item">
                    <p class="m-0"> 2024</p>
                </li>
            </ul>
        </nav>
    </footer>


    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
