<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .pronostico {
            background-color: #fff; 
        }
        .data-card {
            display: none;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Proyecto de Software</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Inicio</strong></a>
            <a href="{% url 'contacto' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Contacto</strong></a>
            <div class="input-group" style="margin-right: 20px;">
                <input type="text" class="form-control form-control-lg" placeholder="Buscar...">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>        
    </header>

    <!-- Barra de navegación en el aside -->
    <aside>
        <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #8a2626, #300707); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); height: 50px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-5">
                    <a class="nav-link pronostico" href="pronostico_mp10.html" style="color: #000; padding: 5px; font-size: 18px; font-weight: bold;">Pronóstico MP10</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="estaciones.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Estaciones</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="datos_historicos.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Datos Históricos</a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- Contenido principal -->
    <main class="container mt-5">
        <div class="card col-md-8 shadow mx-auto">
            <div class="card-header gradient-pronostico">
                <h3 class="mb-0">Seleccionar Comuna, Estación y Fecha</h3>
            </div>
            <div class="card-body">
                <form id="selectionForm" onsubmit="mostrarCsvCard(); return false;">
                    <div class="form-group">
                        <label for="sector">Comuna:</label>
                        <select class="form-control" id="sector" required>
                            <option value="" disabled selected>Selecciona una Comuna</option>
                            <option value="Andacollo">Andacollo</option>
                            <option value="LosVilos">Los Vilos</option>
                            <option value="Salamanca">Salamanca</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estacionSelect">Estación:</label>
                        <select class="form-control" id="estacionSelect" required>
                            <option value="" disabled selected>Selecciona una estación</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Fecha de Inicio:</label>
                        <input type="date" class="form-control" id="startDate" required>
                    </div>
                    <div class="form-group">
                        <label for="endDate">Fecha Final:</label>
                        <input type="date" class="form-control" id="endDate" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
        <div class="card col-md-8 shadow mx-auto data-card" id="dataCard" style="display: none; background-color: #f8f9fa; border-radius: 10px; margin-top: 20px; padding: 20px;">
            <h3 class="mb-4" style="color: #212529; font-size: 24px; font-weight: bold;">Datos del Pronóstico</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr id="tableHead" style="background-color: #343a40; color: #fff;">
                            <!-- Los encabezados de la tabla se llenarán dinámicamente -->
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <!-- Los datos de la tabla se llenarán dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
        
    </main>

    <script>
        const estaciones = {
            Andacollo: ["Andacollo", "Chepiquilla", "ElSauce", "Hospital", "Urmenetra"],
            LosVilos: ["Caimanes", "Chacay", "ElMauro", "PuntoChungo"],
            Salamanca: ["Camisas", "Coiron", "Cuncumen", "HotelMina", "QuelenAlto"]
        };

        document.getElementById('sector').addEventListener('change', function() {
            const sector = this.value;
            const estacionSelect = document.getElementById('estacionSelect');
            estacionSelect.innerHTML = '<option value="" disabled selected>Selecciona una estación</option>';

            if (estaciones[sector]) {
                estaciones[sector].forEach(estacion => {
                    const option = document.createElement('option');
                    option.value = estacion;
                    option.textContent = estacion;
                    estacionSelect.appendChild(option);
                });
            }
        });

        function mostrarCsvCard() {
            const comuna = document.getElementById("sector").value;
            const estacion = document.getElementById("estacionSelect").value;
            const startDate = document.getElementById("startDate").value;
            const endDate = document.getElementById("endDate").value;

            const csvFileName = `/static/csv_files/pronostico/Prediccion_${comuna}_${estacion}.csv`; 
            fetch(csvFileName)
                .then(response => response.text())
                .then(data => {
                    const rows = data.split('\n');
                    const tableHead = document.getElementById("tableHead");
                    const tableBody = document.getElementById("tableBody");

                    tableHead.innerHTML = '';
                    tableBody.innerHTML = '';

                    const headers = rows[0].split(',');
                    headers.forEach(header => {
                        const th = document.createElement('th');
                        th.textContent = header;
                        tableHead.appendChild(th);
                    });

                    const filteredRows = rows.slice(1).filter(row => {
                        const cells = row.split(',');
                        const date = new Date(cells[0].split('-').reverse().join('-'));
                        const start = new Date(startDate);
                        const end = new Date(endDate);
                        return date >= start && date <= end;
                    });

                    filteredRows.forEach(row => {
                        const cells = row.split(',');
                        const tr = document.createElement('tr');
                        cells.forEach(cell => {
                            const td = document.createElement('td');
                            td.textContent = cell;
                            tr.appendChild(td);
                        });
                        tableBody.appendChild(tr);
                    });

                    document.getElementById("dataCard").style.display = 'block';
                })
                .catch(error => {
                    console.error('Error al leer el archivo CSV:', error);
                    alert('Error al leer el archivo CSV.');
                });
        }

    </script>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
