<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .pronostico {
            background-color: #fff; 
        }
        .data-card {
            display: none;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Proyecto de Software</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Inicio</strong></a>
            <a href="{% url 'contacto' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Contacto</strong></a>
        </div>        
    </header>

    <!-- Barra de navegación en el aside -->
    <aside>
        <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #8a2626, #300707); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); height: 50px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav mx-5">
                    <a class="nav-link pronostico" href="pronostico_mp10.html" style="color: #000; padding: 5px; font-size: 18px; font-weight: bold;">Pronóstico MP10</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="estaciones.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Estaciones</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="datos_historicos.html" style="color: #fff; padding: 5px; font-size: 18px; font-weight: bold;">Datos Históricos</a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- Contenido principal -->
    <main class="container mt-5">
        <div class="card col-md-8 shadow mx-auto">
            <div class="card-header gradient-pronostico d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Seleccionar Comuna y Estación</h3>
                <i class="fas fa-question-circle" data-toggle="modal" data-target="#infoModal" style="cursor: pointer;"></i>
            </div>
            <div class="card-body">
                <form id="selectionForm" onsubmit="mostrarCsvCard(); return false;">
                    <div class="form-group">
                        <label for="sector">Comuna:</label>
                        <select class="form-control" id="sector" required>
                            <option value="" disabled selected>Selecciona una Comuna</option>
                            <option value="Andacollo">Andacollo</option>
                            <option value="LosVilos">Los Vilos</option>
                            <option value="Salamanca">Salamanca</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estacionSelect">Estación:</label>
                        <select class="form-control" id="estacionSelect" required>
                            <option value="" disabled selected>Selecciona una estación</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Fecha de Inicio (opcional):</label>
                        <input type="date" class="form-control" id="startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">Fecha de Fin (opcional):</label>
                        <input type="date" class="form-control" id="endDate">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    <!-- Botón para mostrar gráficos -->
                    <div class="form-group">
                        <div id="showChartsBtnContainer" class="text-right mb-3" style="display: none;">
                            <button type="button" class="btn btn-primary" id="showChartsBtn">Mostrar Gráficos</button>
                        </div>
                    </div>                
                </form>
            </div>
        </div>
        <div class="card col-md-8 shadow mx-auto data-card" id="dataCard" style="display: none; background-color: #f8f9fa; border-radius: 10px; margin-top: 20px; padding: 20px;">
            <h3 class="mb-4" style="color: #212529; font-size: 24px; font-weight: bold;">Datos del Pronóstico</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr id="tableHead" style="background-color: #343a40; color: #fff;">
                            <!-- Los encabezados de la tabla se llenarán dinámicamente -->
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <!-- Los datos de la tabla se llenarán dinámicamente -->
                    </tbody>
                </table>
            </div>
            <!-- Ventana flotante -->
            <div class="modal fade" id="graphModal" tabindex="-1" role="dialog" aria-labelledby="graphModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="graphModalLabel">Gráficos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Gráfico de línea -->
                            <div style="border-bottom: 1px solid #ddd; margin-bottom: 20px;">
                                <canvas id="myLineChart"></canvas>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Los datos pertenece a enero del 2023.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const estaciones = {
            Andacollo: ["Andacollo", "Chepiquilla", "ElSauce", "Hospital", "Urmenetra"],
            LosVilos: ["Caimanes", "Chacay", "ElMauro", "PuntoChungo"],
            Salamanca: ["Camisas", "Coiron", "Cuncumen", "HotelMina", "QuelenAlto"]
        };

        document.getElementById('sector').addEventListener('change', function() {
            const sector = this.value;
            const estacionSelect = document.getElementById('estacionSelect');
            estacionSelect.innerHTML = '<option value="" disabled selected>Selecciona una estación</option>';

            if (estaciones[sector]) {
                estaciones[sector].forEach(estacion => {
                    const option = document.createElement('option');
                    option.value = estacion;
                    option.textContent = estacion;
                    estacionSelect.appendChild(option);
                });
            }
        });

        function mostrarCsvCard() {
            const comuna = document.getElementById("sector").value;
            const estacion = document.getElementById("estacionSelect").value;
            const startDate = document.getElementById("startDate").value;
            const endDate = document.getElementById("endDate").value;
        
            const csvFileName = `/static/csv_files/pronostico/Prediccion_${comuna}_${estacion}.csv`; 
            fetch(csvFileName)
                .then(response => response.text())
                .then(data => {
                    const rows = data.split('\n');
                    const tableHead = document.getElementById("tableHead");
                    const tableBody = document.getElementById("tableBody");
        
                    tableHead.innerHTML = '';
                    tableBody.innerHTML = '';
        
                    const headers = rows[0].split(',');
                    headers.forEach(header => {
                        const th = document.createElement('th');
                        th.textContent = header;
                        tableHead.appendChild(th);
                    });
        
                    let filteredRows = rows.slice(1);
                    if (startDate && endDate) {
                        filteredRows = filteredRows.filter(row => {
                            const cells = row.split(',');
                            const date = new Date(cells[0].split('-').reverse().join('-'));
                            const start = new Date(startDate);
                            const end = new Date(endDate);
                            return date >= start && date <= end;
                        });
                    }
        
                    filteredRows.forEach(row => {
                        const cells = row.split(',');
                        const tr = document.createElement('tr');
                        cells.forEach(cell => {
                            const td = document.createElement('td');
                            td.textContent = cell;
                            tr.appendChild(td);
                        });
                        tableBody.appendChild(tr);
                    });
        
                    document.getElementById("dataCard").style.display = 'block';
                    // Mostrar el contenedor del botón "Mostrar Gráficos" y luego el botón
                    document.getElementById("showChartsBtnContainer").style.display = 'block';
                })
                .catch(error => {
                    console.error('Error al leer el archivo CSV:', error);
                    alert('Error al leer el archivo CSV.');
                });
        }
        
        document.getElementById('showChartsBtn').addEventListener('click', function() {
            const comuna = document.getElementById("sector").value;
            const estacion = document.getElementById("estacionSelect").value;
        
            // Ruta del archivo CSV
            const csvFileName = `/static/csv_files/pronostico/Prediccion_${comuna}_${estacion}.csv`;
        
            // Leer el archivo CSV y generar los gráficos
            fetch(csvFileName)
                .then(response => response.text())
                .then(data => {
                    const rows = data.split('\n').slice(1); // Elimina la primera fila (encabezados)
                    
                    // Parsear los datos del CSV
                    const labels = [];
                    const mp10Data = [];
                    rows.forEach(row => {
                        const [tiempo, mp10, impacto] = row.split(',');
                        labels.push(tiempo);
                        mp10Data.push(parseFloat(mp10));
                    });
        
                    // Destruir gráficos existentes si los hay
                    if (window.lineChart) {
                        window.lineChart.destroy();
                    }
        
                    // Configurar los datos del gráfico de línea
                    const lineChartData = {
                        labels: labels,
                        datasets: [{
                            label: 'MP10',
                            data: mp10Data,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                    };
        
        
                    // Crear el gráfico de línea
                    const lineChartCtx = document.getElementById('myLineChart').getContext('2d');
                    window.lineChart = new Chart(lineChartCtx, {
                        type: 'line',
                        data: lineChartData,
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    display: false
                                },
                                title: {
                                    display: true,
                                    text: 'Gráfico de MP10 a lo largo del tiempo'
                                }
                            }
                        }
                    });
        
                    // Mostrar la ventana flotante
                    $('#graphModal').modal('show');
                })
                .catch(error => {
                    console.error('Error al leer el archivo CSV:', error);
                    alert('Error al leer el archivo CSV.');
                });
        });
        
        
    </script>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Pie de página -->
    <footer class="mt-auto py-3" style="background-color: #8a2626; color: #fff; text-align: center;">
        <div class="container">
            <p class="mb-0">&copy; 2024 Proyecto de Software</p>
        </div>
    </footer>
    
</body>
</html>

