<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Proyecto de Software</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Inicio</strong></a>
            <a href="{% url 'contacto' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Contacto</strong></a>
        </div>        
    </header>
    
    <!-- Botón de volver con flecha -->
    <a href="javascript:history.go(-1)" class="btn back-btn">
        <i class="fas fa-arrow-left"></i> <strong>Volver</strong>
    </a>    

    <main class="flex-grow-1">
        <section class="container mt-5">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <h3 class="display-4">Propósito del proyecto</h3>
                </div>
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="card-text">Este proyecto tiene como objetivo principal predecir los niveles de MP10 y crear una escala de impacto en los cultivos. Esto permitirá informar a los agricultores sobre los posibles efectos de este contaminante en sus cultivos y les ayudará a tomar decisiones informadas para proteger sus cosechas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Historia:</h3>
                            <p class="card-text">La idea surgió de la preocupación por el impacto negativo que el MP10 puede tener en el sector agrícola, especialmente en ciertas regiones rurales de la IV Región. Al observar la falta de información disponible para los agricultores sobre este tema, se decidió desarrollar un modelo de software que pudiera pronosticar los grados de afectación de los cultivos y proporcionar una escala de impacto clara y accesible.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Equipo detrás del proyecto:</h3>
                            <ul class="card-text">
                                <li>Ulises Muñoz - Estudiante de Ingeniería en Computación</li>
                                <li>Daniela Briceño - Estudiante de Ingeniería en Computación</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Funcionalidades destacadas:</h3>
                            <ul class="card-text">
                                <li>Predicción de niveles de MP10: El modelo utiliza datos históricos y algoritmos de predicción para estimar los niveles futuros de MP10 en la región.</li>
                                <li>Escala de impacto en los cultivos: Se ha desarrollado una escala que clasifica el nivel de afectación de los cultivos en función de los niveles de MP10, proporcionando una guía clara para los agricultores.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Pie de página -->
    <footer class="mt-auto py-3" style="background-color: #8a2626; color: #fff; text-align: center;">
        <div class="container">
            <p class="mb-0">&copy; 2024 Proyecto de Software</p>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
