<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Proyecto de Software</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Encabezado -->
    <header class="d-flex align-items-center border p-3">
        <div class="logos">
            <img src="{% static 'home/Logo1.png' %}" alt="Logo" width="60" height="auto">
            <img src="{% static 'home/Logo2.png' %}" alt="Logo2" width="250" height="auto">
        </div>
        <div class="ml-auto d-flex align-items-center">
            <a href="{% url 'body' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Inicio</strong></a>
            <a href="{% url 'contacto' %}" class="btn gradient-btn mr-3" style="color: #651616; font-size: 17px;"><strong>Contacto</strong></a>
            <div class="input-group" style="margin-right: 20px;">
                <input type="text" class="form-control form-control-lg" placeholder="Buscar...">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>        
    </header>


    <!-- Misión y valores -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>Misión y valores</h2>
                <h3>Misión:</h3>
                <p>Nuestra misión es proporcionar a los agricultores información precisa y oportuna sobre los niveles de MP10 y su impacto en los cultivos, para que puedan proteger sus cosechas y mejorar su producción de manera sostenible.</p>
                <h3>Valores fundamentales:</h3>
                <ul>
                    <li><strong>Compromiso con la precisión:</strong> Nos comprometemos a utilizar los datos más precisos y los algoritmos más avanzados para predecir los niveles de MP10 y su impacto en los cultivos.</li>
                    <li><strong>Responsabilidad ambiental:</strong> Nos preocupamos por el impacto ambiental y trabajamos para concienciar sobre la importancia de la calidad del aire en la agricultura.</li>
                    <li><strong>Empoderamiento de los agricultores:</strong> Queremos empoderar a los agricultores proporcionándoles información clave para tomar decisiones informadas sobre la protección de sus cultivos.</li>
                    <li><strong>Innovación continua:</strong> Buscamos constantemente nuevas formas de mejorar nuestro modelo y brindar un mejor servicio a nuestros usuarios.</li>
                </ul>
                <h3>Clientes o casos de éxito:</h3>
                <p>Hasta el momento, hemos trabajado con varios agricultores locales en pruebas piloto, y los resultados han sido muy alentadores. Nuestro modelo ha ayudado a los agricultores a anticipar y mitigar los efectos negativos del MP10 en sus cultivos, lo que ha resultado en cosechas más saludables y productivas.</p>
                <h3>Compromiso social y ambiental:</h3>
                <p>Nos comprometemos a ser un actor responsable en nuestra comunidad y en el medio ambiente. Trabajamos en estrecha colaboración con organizaciones locales y autoridades ambientales para promover la conciencia sobre la calidad del aire y sus efectos en la agricultura. Además, estamos explorando formas de reducir nuestra huella de carbono y promover prácticas sostenibles en todas nuestras operaciones.</p>
            </div>
        </div>
    </div>

    <!-- Pie de página -->
    <footer class="border text-center py-1 mt-auto">
        <nav>
            <ul class="nav justify-content-between" style="padding: 0 20px;">
                <li class="nav-item">
                    <p class="" >Proyecto de Software</p>
                </li>
                <li class="nav-item">
                    <p class="m-0"> 2024</p>
                </li>
            </ul>
        </nav>
    </footer>


    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
